@font-face {
    font-family: "MadeTommy";
    src: url("../fonts/made-tommy-regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "MadeTommy";
    src: url("../fonts/made-tommy-medium.otf");
    font-weight: bold;
}

@font-face {
    font-family: "MadeTommy";
    src: url("../fonts/made-tommy-light.otf");
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, a, p, .btn
{
    color: #C4CECF;
    font-weight: lighter;
    font-family: "MadeTommy";
}

h1 {
    font-size: 93px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 34px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 16px 28px;
    border-radius: 40px;
    font-weight: bold;
}

.btn.secondary {
    border: solid 3px #C6403F;
    color: #272A2F;
    transition: background-color 0.4s, color 0.4s;
}
.btn.secondary:hover {
    background-color: #C6403F;
    color: #C4CECF;
    border: none;
}

.fake-input {
    padding: 18px 20px;
    border-radius: 40px;
    background-color: #C4CECF;
}
.fake-input p {
    color: #272727;
    font-weight: bold;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

.custom-container {
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), -5px -5px 8px rgba(255, 255, 255, 0.1);
    padding: 30px 35px;
}

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}