body {
    background-color: #272A2F;
}

/* Re-bonjour, Adel */
h1 {
    display: block;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -100%);
    z-index: 1;
    color: white;
    transition: top 0.8s, opacity 0.8s;
}

/* Bouton de connection */
#first-connect-btn, #second-connect-btn {
    display: none;
    position: absolute;
    top: 55vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.8s;
}

/* Formulaire */
#connect-form {
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: rgba(186, 109, 94, 0.4);
    border-radius: 40px;
    padding: 40px 80px;
    opacity: 0;
    transition: opacity 0.8s;
}
#connect-form h3 {
    margin: 0;
    text-align: center;
    margin-bottom: 13%;
}
#connect-form .fake-input {
    cursor: not-allowed;
    margin-bottom: 9%;
}
#connect-form .fake-input.flex-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#connect-form .fake-input.flex-input img {
    width: 30px;
    cursor: pointer;
}

#password-forget-link{
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
}
#connect-form .btn.secondary {
    display: block;
    margin: 60px auto 0 auto;
    width: 50%;
    text-align: center;
    color: #C4CECF;
}