body {
    background-color: #C4CECF;
}

h1 {
    color: #272A2F;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5vh;
}

.home-grid {
    display: grid;
    height: 50vh;
    width: 85vw;
    margin: 0 auto;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    grid-template-rows: repeat(1, 1fr);
}

.home-grid .pp {
    width: 80px;
    height: 80px;
    border-radius: 200%;
}

/* PROFIL PREVIEW */
.profil-preview-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.profil-preview {
    position: relative;
    margin: 0 100px 100px 100px;
    background-color: #C4CECF;
}
.profil-preview .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    border-radius: 20px;
}
.profil-preview .profil-preview-content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 20px;
}
.profil-preview .profil-preview-content .pp {
    display: block;
    margin: 0 auto;
    border: solid 3px #C4CECF;
}
.profil-preview .profil-preview-content h4 {
    margin: 5px 0 20px 0;
    color: #272A2F;
    font-size: 20px;
    font-weight: bold;
}
.profil-preview .profil-preview-content p {
    margin: 15px 0;
    color: #272A2F;
}
.profil-preview .profil-preview-content a {
    margin: 15px 0;
    color: #C6403F;
}
.profil-preview .profil-preview-content .btn-container {
    margin-top: 45px;
}
.profil-preview .profil-preview-content .btn-container .btn {
    color: #272A2F;
    margin: 0 auto;
    padding: 10px 45px;
}

/* LATESTS POSTS */
.latest-posts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: #272A2F;
}
.latest-posts .pp {
    margin-right: 25px;
    width: 70px;
    height: 70px;
}
.latest-posts p {
    color: #272A2F;
}
.latest-posts a {
    color: #C6403F;
}
.latest-posts .btn-container {
    display: block;
    margin: 100px auto 0 auto;
}