body {
    background-color: #C4CECF;
}

h1 {
    color: #272A2F;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5vh;
}

.home-grid {
    display: grid;
    height: 50vh;
    width: 85vw;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}